.component-container {
  padding: 70px 11vw 30px;
}

.component-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.local-interface-container {
  background-color: white;
  padding: 50px 3.54vw;
}

.save-button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 12px;
}

/* only form group inside row-widget class */
.custom-row > .form-group {
  margin: 10px 1em; /* gives the space between elements in row */
  min-width: 200px;
  flex: 1;
}

#default-gateway-input {
}
