<div class="column-widget screen-container">
  <img class="login-logo" src="../../assets/logo-furukawa.png" />

  <div class="column-widget login-form-container">
    <form role="form">
      <div class="column-widget card-body">
        <div class="form-group">
          <label for="email">Usuário:</label>
          <input
            type="email"
            class="form-control text-field"
            id="email"
            placeholder="Enter email"
          />
          <label class="error-input">aaaaaa</label>
        </div>
        <div class="form-group">
          <label for="password">Senha: </label>
          <input
            type="password"
            class="form-control text-field"
            id="password"
            placeholder="Password"
          />
          <label class="error-input">aaaaaa</label>
        </div>
        <button type="button" class="btn btn-block btn-danger btn-lg">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
