<div class="column-widget select-box">
  <div class="options-container" [class.active]="isOpen">
    <div
      class="option"
      *ngFor="let status of onuStatus | keyvalue: compareTo"
      (click)="onSelect(status.value)"
    >
      <div class="row-widget">
        <div class="oval" [ngClass]="onuStatusCssClass[status.value]"></div>
        <label>{{ onuStatusText[status.value] }}</label>
      </div>
    </div>
  </div>

  <div class="row-widget selected" (click)="toggle()">
    <label *ngIf="selectedOption === undefined">Filtrar por</label>
    <div class="row-widget" *ngIf="selectedOption >= 0">
      <div class="oval" [ngClass]="onuStatusCssClass[selectedOption]"></div>
      <label>{{ onuStatusText[selectedOption] }}</label>
    </div>
    <img src="../../../assets/arrow-down.svg" />
  </div>
</div>
