<div class="column-widget component-container">
  <div class="row-widget header">
    <label class="component-title">IDs da ONU</label>
    <app-custom-select (select)="onSelect($event)"></app-custom-select>
  </div>
  <div class="row-widget data-menu">
    <div class="row-widget">
      <img src="../../assets/ic-up-green.png" />
      <label>Status do link</label>
    </div>

    <div class="row-widget">
      <img src="../../assets/ic-up-green.png" />
      <label>Auto discovery</label>
    </div>

    <div class="row-widget">
      <img src="../../assets/ic-down.png" />
      <label>Presença do Tranceiver</label>
    </div>

    <label
      >Intervalo do Auto Discovery:
      <label class="bold">10s</label>
    </label>
  </div>

  <div class="column-widget list-container">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>MAC</th>
          <th>Nº de Série</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="row-widget id-item">
              <div class="ball green-ball"></div>
              <label>1</label>
            </div>
          </td>
          <td><label>00:22:18:FB:7A:12</label></td>
          <td><label>12345678901234567890</label></td>
          <td>Atualizado em: 15/03/2020 às 13:45</td>
          <td><a href="">[visualizar dados]</a></td>
        </tr>

        <tr>
          <td>
            <div class="row-widget id-item">
              <div class="ball green-ball"></div>
              <label>1</label>
            </div>
          </td>
          <td><label>00:22:18:FB:7A:12</label></td>
          <td><label>12345678901234567890</label></td>
          <td>Atualizado em: 15/03/2020 às 13:45</td>
          <td><a href="">[visualizar dados]</a></td>
        </tr>

        <tr>
          <td>
            <div class="row-widget id-item">
              <div class="ball green-ball"></div>
              <label>1</label>
            </div>
          </td>
          <td><label>00:22:18:FB:7A:12</label></td>
          <td><label>12345678901234567890</label></td>
          <td>Atualizado em: 15/03/2020 às 13:45</td>
          <td><a href="">[visualizar dados]</a></td>
        </tr>

        <tr>
          <td>
            <div class="row-widget id-item">
              <div class="ball green-ball"></div>
              <label>1</label>
            </div>
          </td>
          <td><label>00:22:18:FB:7A:12</label></td>
          <td><label>12345678901234567890</label></td>
          <td>Atualizado em: 15/03/2020 às 13:45</td>
          <td><a href="">[visualizar dados]</a></td>
        </tr>

        <tr>
          <td>
            <div class="row-widget id-item">
              <div class="ball green-ball"></div>
              <label>1</label>
            </div>
          </td>
          <td><label>00:22:18:FB:7A:12</label></td>
          <td><label>12345678901234567890</label></td>
          <td>Atualizado em: 15/03/2020 às 13:45</td>
          <td><a href="">[visualizar dados]</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
